# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
/.luarc.json
_site/
manuscript/output/

*.pdf
*.html
*.docx

# Targets stuff
_targets
_targets.yaml

# Data stuff
data/raw-data/

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
