# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
/.luarc.json

# Targets stuff
_targets
_targets.yaml

# Site output
**/_site/*
**/site_libs/*

# knitr and caching stuff
**/*_files/*
**/*_cache/*
*.log

# Data stuff
# (ignore for now)
data/manual-data/
data/raw-data/

# Output
# (ignore for now)
manuscript/output/*.pdf
manuscript/output/*.html
manuscript/output/*.docx
manuscript/output/*.odt

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
